<div class="card flex justify-content-center">
    <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button>
    <p-dialog header="Header" [(visible)]="visible">
        <ng-template pTemplate="header">
            <span class="text-xl font-bold">Header Content</span>
        </ng-template>
        <span class="p-float-label">
            <textarea id="float-input" rows="5" cols="90" pInputTextarea></textarea>
            <label for="float-input">Summary</label>
        </span>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="visible = false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>



